body {
  background-color: #8e9398;
}

border {
  color: #444b54;
}

.center-img {
  display: block;
  text-align: center;
}

h1 {
  font-family: Arial;
  font-style: strong;
  font-size: 75px;
  color: #444b54;
}